.App {
  box-sizing: border-box;
  border: 6px solid #0a010b;
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  border: none;
  background-color: #c07915;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
}

.container {
  width: 100%;
}

h1 {
  text-align: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #d0b60f;
 box-shadow: #ce0e4e;
  width: 450px;
  margin: 5px auto;
}
.table {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.table-header {
  text-align: center;
}

thead {
  color: #533e85;
  padding: 50px;
  font-size: larger;
}

.score {
  color: #b33030;
  font-weight: 700;
}
